
@media (min-width:1015px){
    
}
/* GENERAL VIBE*/

:root {
        --purple: #E6DBF0;
        --white: #ffffff;
        --adelina: #74c29b;
        --timetable: #8ec7e1; 
        --tourgether: #facf79;
        --moviematch: #ffc0a3;
        --beeraucrat: #b9b9b2;
        --darkgrey: #1e1e1e;
        --black: rgb(32, 32, 32)
         
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
}
   
main {
    min-height: 5em;
    flex: 1;
}
p, li{
    font-family: "Be Vietnam Pro","Work Sans" ,"Avenir";
    font-size: 1.20rem;
    line-height: 150%;
    color: #3a3a3a;
}

ul{
    line-height: 150%;
}

h4{
    font-family: "Be Vietnam Pro", "Work Sans" ,"Avenir";
    font-size: 1.5rem;
    font-weight: 500;
}

h3{
    font-family: "Be Vietnam Pro", "Work Sans" ,"Avenir";
    font-size: 1.75rem;
    font-weight: 500;

}

h2{
    font-family: "Be Vietnam Pro", "Work Sans" ,"Avenir";

    font-weight: 700;
    margin: 0 0 0 0;
    font-size: clamp(32px, 3vw + 1rem, 52px);
}

.linky{
    text-decoration: none;
    color: black;
    font-family:  "Be Vietnam Pro", "Work Sans" , "Avenir";
}

.serif{
    font-family: "Be Vietnam Pro",'Charter';
}

/*
strong{
    font-family: "Work Sans" ,"Avenir";
}
*/
.big{
    font-size: 50px;
}

.mid{
    font-size: 40px;
}

a{
    text-decoration: none;
    color: black;
}

.mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 195, 0.1),
      rgba(253, 100, 185, 0.7) 4%,
      rgba(255, 0, 132, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

body{
    position: relative;
    top: 0px;
    margin: 0px;
 /* Add a top margin to avoid content overlay */

}

/* HEADER STUFF*/

header{
    display: grid;
    grid-template-columns: 200px 1fr 100px 100px 100px;
    grid-template-rows: 60px;
    grid-template-areas: "name . work about contact";
    /*background-color: var(--white);*/
    position: fixed;  /*Set the navbar to fixed position */
    z-index: 4;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    transition: all 0.25s;
}

header.active{
    background-color: var(--white);
    z-index: 4;
    transition: all 0.25s;

}

header a:hover {
    text-decoration: underline;
} 


#name {
    grid-area: name;
    justify-self: center;
    align-self: center;
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#work {
    grid-area: work;
    justify-self: center;
    align-self: center;
}
#contact {
    grid-area: contact;
    justify-self: center;
    align-self: center;
}

/* LANDING STUFF*/

#landing{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 500px;
    z-index: 1;
   
}

.landingHeadLine{
    margin: 30px 30px 30px 30px;
    color: black;
}


/* UNUSED GRADIENT*/
.gradient{
    position: relative;
    /*background-color: white;*/
}

.gradient::before{
        content: "Hello";
        position: absolute;
        background: linear-gradient(90deg, var(--adelina), var(--timetable) );
        border-radius: 50%;
        filter: blur(70px);
        left: 10%;
        top: 10%;
        width: 20%;
        height: 60%;
    }

    .gradient::after{
        content: "Hello";
        position: absolute;
        background: linear-gradient(90deg, var(--tourgether), var(--moviematch) );
        border-radius: 50%;
        filter: blur(70px);
        right: 10%;
        bottom: 10%;
        width: 20%;
        height: 60%;
    }    


/* WORK STUFF*/

.section{
    width: 1280px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 140px auto 0;
    padding: 40px;
}

.section-header{
    font-family: "Be Vietnam Pro","Charter";
    font-size: clamp(64px, 6vw + 1rem, 100px);
    margin: 0px;
    color: rgb(32, 32, 32);
    flex: 1 100%;
}


.grid-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;       /* Center the items if they don’t take up the full width */
    align-items: center;  
}

 /* this is a nested grid item for my casestudies, meaning the item is also the container for the image-item and the descrip item*/
.grid-item{
    padding: 30px 50px 60px;
    min-height: 33vh;
    max-height: 600px;
    min-width: 300px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    
    display:flex;
    flex: 100%;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;

}

.grid-item-about{
    max-height: 500px;
    min-width: 300px;
    min-height: 500px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display:flex;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    z-index: 1;

}


.thumbnail {
    flex: 1 1 200px;
    height: auto;
    object-fit: contain;
    width: 50%;
    max-height: 500px;
    
}

/* one of the flex items, also flex container for text it holds*/
.project-intro-item {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    color: var(--darkgrey);

    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

}

.imgTitle{
    font-size: clamp(2rem, 3.636vw + 1.273rem, 4rem);
    font-weight: 600;
    font-family: "Be Vietnam Pro",'Charter';
    letter-spacing: 0.001em;
    margin-bottom: -0.5rem;
    
}

.imgDescrip{
    font-size: clamp(0.75rem, 1.364vw + 0.477rem, 1.5rem);
    font-weight: 500;
}

.imgRole {
    font-size: clamp(0.75rem, 0.909vw + 0.568rem, 1.25rem);
    font-weight: 400;
    font-family: "Be Vietnam Pro",'Work Sans';
    letter-spacing: 0.001em;

}

.overlay{

}

#adelina{
    background-color: var(--adelina);
}
#calendar{
    background-color: var(--timetable);
}
#tour{
    background-color: var(--tourgether);
}
#moviematch{
    background-color: var(--moviematch);
}
#bee{
    background-color: var(--beeraucrat);
}



/* FOOTER STUFF*/

footer{
    /*position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lavenderblush;
    text-align: center;
    */

    display: flex;

    justify-content: center;
    text-align: center;
    padding: 5px;

}

.mini{
    font-size: 0.75rem;
}

/* CONTACT ME STUFF*/

#contactme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    padding-bottom: 100px;
    text-align: center;
}

/* SHOWCASE STUFF*/

.showcasepics{
    width: auto;
    max-width: 900px;
    min-width: 0;
    margin-top: 40px;
    margin-bottom: 40px; 
}

.twopics{
    display :flex;
    flex-direction: row;
    gap: 10px;
}

.next{
    display :flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/*this is the flex container for the entire page*/
.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 950px; /* omg max width not width so it responsive*/
    min-width: 0; /* do this so it can shrink*/
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

/*this is the flex container colorful container up top*/
.showcaseDescription{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 50px;
}

.textcenter{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-self: center;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
}

/*ELEMENTS OF THE SHOWCASE*/

.quote{
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.headline {
    position: relative;
    margin-top: 50px;
    /*margin-left: 2em;  Space for the icon */
}

.icon {
    position: absolute;
    left: -2em; /* Move the icon to the left */
    top: 0;
    width: 1.5em; /* Adjust the size */
    height: 1.5em;
    background: url('/pictures/stern.png') no-repeat;
    background-size: contain;
}


.boxed{
    border: 2px solid #ffd676;
    padding: 20px; /* Add padding to the inside of the border */
    margin: 0px; /* Add margin to the outside of the border */
    background-color: #fffefb; /* Fill color of the box */
    border-radius: 15px; 
  }

.btnNext{
    padding: 20px;
    max-height: 150px;
    max-width: 300px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/*BUTTON STUFF*/

.btn-1{
    text-decoration: none;
    color:black;
    font-size: 2em;
    padding: 20px 50px;
    margin: 32px;    
}

.btn-2{
    text-decoration: none;
    color:black;
    padding: 45px 15px 5px 15px ;
    margin: 60px;    
}

.btn::after, .btn::before{
    border: 2px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    z-index: 0;
    left:0;
    bottom: 0;
    transition: transform 0.3s ease;
}


.btn:hover::before{
    transform: translate(-5px, -5px)
}

.btn:hover::after{
    transform: translate(5px, 5px)
}

.btn-grad {
    background-image: linear-gradient(to right, #FFC683 0%, #E4B1FF  51%, #FFC683  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    /*display: block; */
    font-family: "Be Vietnam Pro","Work Sans" ,"Avenir";
    font-size: 2em;
  }

  .btn-filled-ade {
    background-color: var(--adelina);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    color: #004824;  

    justify-self: center;         
 
    border-radius: 5px;
    display: block; 
    font-family: "Be Vietnam Pro","Work Sans" ,"Avenir";
    font-size: 20px;
  }

  .btn-filled-tour {
    background-color: var(--tourgether);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    color: #624100;  

    justify-self: center;         
 
    border-radius: 5px;
    display: block; 
    font-family: "Be Vietnam Pro","Work Sans" ,"Avenir";
    font-size: 20px;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

.btncontainer{
    position:relative;
    padding: 20px 50px;
    margin: 32px;
     
}
